/** Theme Colors **/
$primaryColor: #f73e43;
$secondaryColor: #203548;

/** Theme Fonts **/
$headerFontFace: Tahoma, Geneva, sans-serif;
$bodyFontFace: Arial, Helvetica, sans-serif;
$bodyFontSize: 13px;